<html lang="en-US" style="height: 100%;"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Tweeter Search</title></head>
<body style="position: relative; min-height: 100%; top: 0px;">
<h1>Tweeter Search <span class="color_h1">Form</span></h1>
<hr>

<div >
<h3>Tweeter Search Form </h3>
<div>

<form method="POST">
    twitter search key:<input name="text">
    <br><br>
    Date:<br><br><br>
    From:<input type="date" name="start_day"><br><br>    
    To:<input type="date" name="end_day">
    <br><br><br><br>    
    <input type="submit">
</form>

</div>
</div>
<hr>
</body>
</html>


